n8n/workflows/w01__lead_capture_multi_source_ingestion.json
{
    "name": "W01: Lead Capture — Multi-Source Ingestion",
    "nodes": [
        {
            "parameters": {
                "path": "leads\/capture",
                "httpMethod": "POST",
                "responseMode": "responseNode"
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/leads\/webhook\/n8n",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                }
            },
            "name": "Validate & Store",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{\\$json.data.id}}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Has Lead?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/leads\/{{$json.data.id}}\/assign",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "method",
                            "value": "round-robin"
                        }
                    ]
                }
            },
            "name": "Assign Manager",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                200
            ]
        },
        {
            "parameters": {
                "operation": "sendMessage",
                "chatId": "7627104580",
                "text": "🆕 New lead: <b>{{$json.data.name}}<\/b>\nSource: {{$json.data.source}}\nPhone: {{$json.data.phone}}",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "name": "Notify Admin",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1000,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "name": "WinCase Bot",
                    "id": "telegram_cred"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Validate & Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate & Store": {
            "main": [
                [
                    {
                        "node": "Has Lead?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Lead?": {
            "main": [
                [
                    {
                        "node": "Assign Manager",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": []
}