n8n/workflows/w03__lead_nurturing_follow_up_sequence.json
{
    "name": "W03: Lead Nurturing — Follow-up Sequence",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 *\/4 * * *"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/leads?status=new&older_than=24h",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                }
            },
            "name": "Get Stale Leads",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{\\$json.data.length}}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Any Stale?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/leads\/nurture",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                }
            },
            "name": "Send Reminders",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "operation": "sendMessage",
                "chatId": "7627104580",
                "text": "⏰ {{$json.data.reminded}} leads reminded, {{$json.data.escalated}} escalated",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "name": "Alert",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1250,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "name": "WinCase Bot",
                    "id": "telegram_cred"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Get Stale Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Stale Leads": {
            "main": [
                [
                    {
                        "node": "Any Stale?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Any Stale?": {
            "main": [
                [
                    {
                        "node": "Send Reminders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Reminders": {
            "main": [
                [
                    {
                        "node": "Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": []
}