n8n/workflows/w04__google_ads_sync.json
{
    "name": "W04: Google Ads Sync",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 *\/6 * * *"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/ads\/sync\/google",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                }
            },
            "name": "Fetch Ads Data",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "operation": "sendMessage",
                "chatId": "7627104580",
                "text": "📊 Google Ads synced: {{$json.data.campaigns}} campaigns, spend: {{$json.data.total_cost}} PLN",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "name": "Report",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                750,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "name": "WinCase Bot",
                    "id": "telegram_cred"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Ads Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Ads Data": {
            "main": [
                [
                    {
                        "node": "Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": []
}