n8n/workflows/w18__invoice_generator_pos_approved_.json
{
    "name": "W18: Invoice Generator (POS Approved)",
    "nodes": [
        {
            "parameters": {
                "path": "invoices\/generate",
                "httpMethod": "POST",
                "responseMode": "responseNode"
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/accounting\/invoices\/generate",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "pos_id",
                            "value": "={{\\$json.pos_id}}"
                        }
                    ]
                }
            },
            "name": "Generate Invoice",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/accounting\/invoices\/{{$json.data.id}}\/send",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                }
            },
            "name": "Send PDF",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "operation": "sendMessage",
                "chatId": "7627104580",
                "text": "🧾 Invoice #{{$json.data.number}} generated — {{$json.data.total}} PLN",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "name": "Notify",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1000,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "name": "WinCase Bot",
                    "id": "telegram_cred"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Generate Invoice",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Invoice": {
            "main": [
                [
                    {
                        "node": "Send PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send PDF": {
            "main": [
                [
                    {
                        "node": "Notify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": []
}