n8n/workflows/w21__case_deadline_alert.json
{
    "name": "W21: Case Deadline Alert",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 8 * * *"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/cases\/deadlines",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                }
            },
            "name": "Check Deadlines",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{\\$json.data.count}}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Any Due?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/cases\/deadline-alerts",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                }
            },
            "name": "Send Alerts",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                200
            ]
        },
        {
            "parameters": {
                "operation": "sendMessage",
                "chatId": "7627104580",
                "text": "⚖️ {{$json.data.count}} case deadlines approaching — alerts sent",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "name": "Notify",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1000,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "name": "WinCase Bot",
                    "id": "telegram_cred"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Check Deadlines",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Deadlines": {
            "main": [
                [
                    {
                        "node": "Any Due?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Any Due?": {
            "main": [
                [
                    {
                        "node": "Send Alerts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Alerts": {
            "main": [
                [
                    {
                        "node": "Notify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": []
}