n8n/workflows/w26__auto_publisher_rewritten_sites.json
{
    "name": "W26: Auto Publisher — Rewritten → Sites",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "*\/5 * * * *"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/news\/publish",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                }
            },
            "name": "Publish",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{\\$json.data.published}}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Any?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "operation": "sendMessage",
                "chatId": "7627104580",
                "text": "📰 Published {{$json.data.published}} articles",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "name": "Summary",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1000,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "name": "WinCase Bot",
                    "id": "telegram_cred"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Publish",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Publish": {
            "main": [
                [
                    {
                        "node": "Any?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Any?": {
            "main": [
                [
                    {
                        "node": "Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": []
}