n8n/workflows/w28__critical_news_parser_5min_.json
{
    "name": "W28: Critical News Parser (5min)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "*\/5 * * * *"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/news\/parse",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "priority",
                            "value": "critical"
                        }
                    ]
                }
            },
            "name": "Parse Critical",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{\\$json.data.new_articles}}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "New Articles?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/news\/rewrite-batch",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "priority",
                            "value": "critical"
                        }
                    ]
                }
            },
            "name": "AI Rewrite",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/news\/publish",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                }
            },
            "name": "Publish",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1250,
                200
            ]
        },
        {
            "parameters": {
                "operation": "sendMessage",
                "chatId": "7627104580",
                "text": "⚡ BREAKING: {{$json.data.published}} critical news published",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "name": "Alert",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1500,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "name": "WinCase Bot",
                    "id": "telegram_cred"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Critical",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Critical": {
            "main": [
                [
                    {
                        "node": "New Articles?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "New Articles?": {
            "main": [
                [
                    {
                        "node": "AI Rewrite",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Rewrite": {
            "main": [
                [
                    {
                        "node": "Publish",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Publish": {
            "main": [
                [
                    {
                        "node": "Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": []
}