n8n/workflows/w29__high_priority_parser_10min_.json
{
    "name": "W29: High Priority Parser (10min)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "*\/10 * * * *"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/news\/parse",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "priority",
                            "value": "high"
                        }
                    ]
                }
            },
            "name": "Parse High",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{\\$json.data.new_articles}}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "New?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "operation": "sendMessage",
                "chatId": "7627104580",
                "text": "📰 {{$json.data.new_articles}} high-priority articles parsed",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "name": "Info",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1000,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "name": "WinCase Bot",
                    "id": "telegram_cred"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Parse High",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse High": {
            "main": [
                [
                    {
                        "node": "New?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "New?": {
            "main": [
                [
                    {
                        "node": "Info",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": []
}