n8n/workflows/w32__ai_rewrite_engine_10min_.json
{
    "name": "W32: AI Rewrite Engine (10min)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "*\/10 * * * *"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https:\/\/crm.wincase.eu\/api\/v1\/news\/rewrite-batch",
                "options": [],
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application\/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "limit",
                            "value": "10"
                        }
                    ]
                }
            },
            "name": "Rewrite Batch",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{\\$json.data.needs_review}}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Needs Review?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "operation": "sendMessage",
                "chatId": "7627104580",
                "text": "⚠️ {{$json.data.needs_review}} articles need manual review (plagiarism > 15%)",
                "additionalFields": {
                    "parse_mode": "HTML"
                }
            },
            "name": "Review Alert",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1000,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "name": "WinCase Bot",
                    "id": "telegram_cred"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Rewrite Batch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rewrite Batch": {
            "main": [
                [
                    {
                        "node": "Needs Review?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Needs Review?": {
            "main": [
                [
                    {
                        "node": "Review Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": []
}